@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --yellow: rgb(247,183,51);
    --orange: rgb(252,74,26)
  }

* {
    overflow-x: hidden;
    box-sizing: border-box;
  }

body {
    background-color: #021327;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    margin-left: 0px;
    margin-right: 0px;
}


@media only screen and (max-width: 1000px) {


    /* Barra de navegación en MOBILE */
    .navbar {
        
        position: absolute;
        margin: auto;
        background-color: #021327;
        /* margin-left: -8px; */
        margin-top: -10px;
        height: 16vh;
        width: 100vw;
        display: flex;
        top: 0vh;
        flex-direction: row;
        justify-content: space-between;
        z-index: 10;
    }

    .logo > img {
        margin-left: 2.5vh;
        position: absolute;
        margin-top: 8.5vh;
        width: 40%;
        transform: translate(0, -50%);
    }
    .toggle {
        /* background-color: blue; */
        display: block;
        width: 8%;
        height: 30%;
        margin-right: 5vh;
        margin-top: 17%;
    }

    .toggle > svg {
        width: 100%;
        fill: #FFF;
    }

    .navbar-content {
        display: none;
        position: absolute;
        background-color: #010c18;
        display: flex;
        left: 0vh;
        flex-direction: column;
        width: 100vw;
        /* top: 16vh; EJECUTADO */
        top: -30vh;
        z-index: 0;
        /* margin-left: 5vw; */
    }

    .navbar-item {
        padding: 3vw 5vw;
        color: white;
        border-bottom: 1.5px solid rgba(255, 255, 255, 0.2);
        font-weight: 800;
        transition: 0.4s;
    }

    .navbar-item:hover, .navbar-item:active {
        background-color: #021327;
    }

    .client {
        background: rgb(252,74,26);
        background: linear-gradient(90deg, rgba(252,74,26,0.2) 0%, rgba(247,183,51,0.2) 100%);
        border-bottom: none;
    }

    /* BODY */

    .title-hihost {
        width: 80%;
        color: #FFF;
        font-size: 48px;
        font-weight: 800;
        text-align: center;
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-top: 30vh;
    }

    .world-curve-title-mobile > svg {
        position: absolute;
        top: 40.5vh;
        width: 100%;
        z-index: -1;
    }

    .caption-title-hihost {
        width: 65%;
        color: #FFF;
        font-size: 15px;
        font-weight: 500;
        text-align: center;
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-top: 3vh;
        opacity: 0.5;
    }

    /* Let's Start Button */

    .letstart-btn {
        position: absolute;
        background: rgb(252,74,26);
        background: linear-gradient(90deg, rgba(252,74,26,1) 0%, rgba(247,183,51,1) 100%);
        font-weight: 700;
        font-size: 20px;
        color: white;
        padding: 2.5vw 5vh;
        border-radius: 10px;
        margin-top: 6vh;
        left:25%;
        transition: 0.4s;
    }

    .scrolldownicon {
        /* background-color: blue; */
        display: block;
        width: 80%;
        /* height: 30%; */
        text-align: center;
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-top: 20vh;
    }

    .scrolldownicon > svg {
        width: 100%;
        /* border:1px solid black */
    }

    .scroll-down {
        width: 100%;
        color: #FFF;
        font-size: 10px;
        font-weight: 800;
        text-align: center;
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-top: 1vh;
        opacity: 0.5;
    }

    .graph-chart {
        margin-top: 2vh;
        margin-left: -10vw;
    }

    /* Moon and beyond */
    .title-caption-moon {
        width: 80%;
        color: #FFF;
        font-size: 21px;
        font-weight: 800;
        text-align: center;
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-top: 10vh;
    }

    .moon-boxes-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 15%;
        margin-left: 2.5vh;
        height: 45vh;
        justify-content: space-evenly;
    }
    
    .moon-item {
        /* display: flex; */
        margin-bottom: 20vh;
        width: 70%;
        justify-content: space-between;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .moon-icon {
        position: absolute;
        margin-top: 2.5vh;
        margin-left: -2.5vh;
    }

    .moon-card {
        width: 65vw;
        height: 10vh;
        border-radius: 16px;
        background-color: #102135;
    }
    
    .moon-card-title {
        font-size: 12px;
        color: #FFF;
        font-weight: 700;
        margin-left: 3vh;
        margin-top: 1.5vh;
    }
    .moon-card-caption {
        width: 80%;
        font-size: 10.5px;
        color: #FFF;
        font-weight: 700;
        margin-left: 3vh;
        margin-top: .5vh;
        opacity: 0.7;
    }

    .spacer {
        height: 10vh;
    }

    .curve-1 {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    /* More about DDoS Section */

    .title-caption-ddos {
        width: 80%;
        color: #FFF;
        font-size: 25px;
        font-weight: 800;
        text-align: left;
        margin-left: 5vh;
        margin-top: 15vh;
    }

    .advice-caption-ddos {
        width: 63%;
        color: var(--yellow);
        font-size: 14px;
        font-weight: 500;
        text-align: left;
        margin-left: 5vh;
        margin-top: 1vh;
    }
    
    .second-caption-ddos {
        width: 80%;
        text-align: justify;
        color: #FFF;
        font-size: 12px;
        font-weight: 500;
        opacity: 0.5;
        margin-left: 5vh;
        margin-top: 6vh;
    }

    .box-checkmarks-ddos {
        margin-top: 5vh;
        margin-left: 7vh;
        display: flex;
        flex-direction: column;
    }

    .checkmark-item {
        display: flex;
        flex-direction: row;
        margin-top: 4vh;
    }

    .checkmark-svg {

    }

    .checkmark-text {
        color: #fff;
        font-weight: 500;
        font-size: 15px;
        margin-left: 1vh;
    }

    .btn2 {
        margin-top: 12vh;
    }

    .spacer-2 {
        margin-top: 19vh;
        height: 10vh;
        /* background-color: blue; */
    }


    .title-servers {
        width: 80%;
        color: #FFF;
        font-size: 30px;
        font-weight: 800;
        text-align: center;
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-top: 15vh;
        margin-bottom: 10vh;
    }

    .servers-container-mobile {
        position: absolute;
        display: flex;
        flex-direction: row;
        /* overflow-x: auto; */
        width: 100%;
        /* margin-left: -50%; */
        justify-content: space-between;
        margin-top: -40vh;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .servers-card-left {
        margin-left: -60vw;
        height: 50vh;
        width: 69vw;
        background-color: #102135;
        border-radius: 16px;
    }

    .servers-card-center {
        height: 41vh;
        width: 57vw;
        background-color: #102135;
        border-radius: 16px;
        margin-top: 4.5vh;
    }

    .servers-card-right {
        height: 50vh;
        width: 69vw;
        background-color: #102135;
        border-radius: 16px;
        margin-right: -60vw;
        /* right: 0; */
    }

    .center-svg > svg {
        width: 100%;
        align-content: center;
        margin-top: 3vh;
    }

    .card-server-title {
        width: 100%;
        text-align: center;
        font-weight: 800;
        font-size: 19px;
        color: #FFF;
        margin-top: 2vh;
    }

    .card-server-description {
        width: 80%;
        margin-left: 10%;
        text-align: center;
        font-weight: 400;
        font-size: 12px;
        color: #FFF;
        margin-top: 1vh;
        /* margin-left: 3.5vh; */
    }

    .card-server-feature-list {
        width: 100%;
        text-align: left;
        font-weight: 400;
        font-size: 12px;
        color: #FFF;
        margin-top: 1vh;
        margin-left: 0vh;
    }

    .more-btn {
        position: absolute;
        background: rgb(252,74,26);
        background: linear-gradient(90deg, rgba(252,74,26,1) 0%, rgba(247,183,51,1) 100%);
        font-weight: 700;
        font-size: 15px;
        color: white;
        padding: 1.5vw 2.5vh;
        border-radius: 10px;
        margin-top: 44vh;
        left:40%;
        transition: 0.4s;
    }

    .more-btn:active {
        opacity: 0.1;
    }

    .letstart-btn:active {
        opacity: 0.1;
    }

    .spacer-3 {
        margin-top: 80vh;
        width: 100%;
        /* height: 10vh; */
    }
    
    .footer-page {
        height: 30vh;
        width: 100vw;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        width: 90%;
        margin-left: 2vh;
        justify-content: space-between;
    }

    .footer-logo > img{
        position: absolute;
        width: 50%;
        margin-top: 25%;   
    }

    .footer-text {
        display: flex;
        margin-top: 5vh;
        flex-direction: column;
    }

    .text-item {
        font-weight: 800;
        margin-top: 1.5vh;
        color: white;
        text-align: right;
    }

    .text-item:active {

        color: grey;
    }


    .footer-copyright {
        font-size: 12px;
        color: #fff;
        width: 100%;
        opacity: 0.5;
        font-weight: 800;
        text-align: center;
        margin-top: 2vh;
        margin-bottom: -3vh;
    }
}
